<table class="formulario">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">N° Identificacion</th>
            <th scope="col">Tipo de documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">fecha de Nacimiento</th>
            <th scope="col">correo</th>
            <th scope="col">celular</th>
            <th scope="col">Direccion</th>
            <th scope="col">estado civil</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td scope="row"></td>
            <td scope="col"> </td>
            <td scope="col">  </td>
            <td scope="col"> </td>
            <td scope="col"> </td>
            <td scope="col"> </td>
            <td scope="col"> </td>
            <td scope="col"> </td>
            <td scope="col"> </td>
            <td scope="col"> </td>
        </tr>
    </tbody>
</table>