<table class="table table-striped" >
    <thead class="thead-dark">
        <tr>
            <th scope="col">N° Identificacion</th>
            <th scope="col">Tipo de documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Genero</th>
            <th scope="col">fecha de Nacimiento</th>
            <th scope="col">correo</th>
            <th scope="col">celular</th>
            <th scope="col">Direccion</th>
            <th scope="col">estado civil</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let studen of estudiantes">
            <td scope="col" contenteditable="true" id="eIdentificacion-{{studen.id}}">{{studen.attributes.eIdentificacion}}</td>
            <td scope="col" contenteditable="true" id="eTipodocumento-{{studen.id}}">{{studen.attributes.eTipodocumento}}  </td>
            <td scope="col" contenteditable="true" id="eNombre-{{studen.id}}">{{studen.attributes.eNombre}} </td>
            <td scope="col" contenteditable="true" id="eApellido-{{studen.id}}">{{studen.attributes.eApellido}} </td>
            <td scope="col" contenteditable="true" id="eGenero-{{studen.id}}">{{studen.attributes.eGenero}}</td>
            <td scope="col" contenteditable="true" id="eFechaNacimiento-{{studen.id}}">{{studen.attributes.eFechaNacimiento}} </td>
            <td scope="col" contenteditable="true" id="eCorreo-{{studen.id}}">{{studen.attributes.eCorreo}} </td>
            <td scope="col" contenteditable="true" id="eCelular-{{studen.id}}">{{studen.attributes.eCelular}} </td>
            <td scope="col" contenteditable="true" id="eDireccion-{{studen.id}}">{{studen.attributes.eDireccion}} </td>
            <td scope="col" contenteditable="true" id="eEstadoCivil-{{studen.id}}">{{studen.attributes.eEstadoCivil}} </td>

            <td>
                <button type="button" class="btn btn-primary" (click)="actualizar(this.studen.id)" >Guardar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="eliminarEstudiante(this.studen.id)" >Delete</button>
              </td>

        </tr>
    </tbody>
</table>