<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">celular</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Direccion</th>
      <th scope="col">Tipo Documento</th>
      <th scope="col">Genero</th>
      <th scope="col">Estado civil</th>
      <th scope="col">Identificacion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Laura</td>
      <td>123456789</td>
      <td>ltorres@cecar.edu.co</td>
      <td>Torres</td>
      <td>2000-11-20</td>
      <td>Carrera 30#97D-35</td>
      <td>Cedula de Ciudadania</td>
      <td>Femenino</td>
      <td>Soltero(a)</td>
      <td>30058749</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>123456789</td>
      <td>wakman@cecar.edu.co</td>
      <td>wakman</td>
      <td>2000-11-20</td>
      <td>Carrera 30#97D-35</td>
      <td>Cedula de extranjeria</td>
      <td>Otros</td>
      <td>Soltero(a)</td>
      <td>30058749</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>123456789</td>
      <td>Valdomero@cecar.edu.co</td>
      <td>Valdomero</td>
      <td>2000-11-20</td>
      <td>Carrera 30#97D-35</td>
      <td>Cedula de Ciudadania</td>
      <td>Masculino</td>
      <td>casado(a)</td>
      <td>30058749</td>
    </tr>

  </tbody>
</table>

