<div class="ae-grid au-xs-ta-center au-mb-4">
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">sede monteria</h5>
    <p class="ae-u-bolder au-mb-3">Calle 31 N° 5 - 07 Centro, Montería, Córdoba</p>
    
  </div>
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-2.png" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">sede sincelejo</h5>
    <p class="ae-u-bolder au-mb-3">Carretera Troncal de Occidente Km 1 - Via Corozal, Sincelejo, Sucre</p>
    
  </div>
  <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">sede Villavicencio</h5>
    <p class="ae-u-bolder au-mb-3">Cra. 35 #34A31 N, Villavicencio, Meta</p>
  </div>
</div>